body {
font-family: Roboto, Arial, sans-serif;
margin: 0;
padding: 0;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  margin-top: 50px;
}

.navigation {
  width: 660px;
  float: left;
  background-color: green;
}

.navigation-list li {
  display: inline;
}

.logo {
  width: 180px;
  float: left;
}

.basket {
  width: 200px;
  float: right;
  background-color: red;
}

.slider {
  position: relative;
  width: 100%;
  clear: both;
  min-height: 200px;
}

.slide {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}

.slide-active {
  display: block;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.features {
  margin-top: 70px;
}

.web {
  float: left;
  margin-right: 100px;
  width: 300px;
}

.applications {
  float: left;
  margin-right: 100px;
  width: 300px;
}

.presentation: {
  float: left;
  margin-left: 100px;
  width: 300px;
}

.orders {
  width: 700px;
  float: left;
}

.about {
width: 400px;
float: right;
}

.orders-about {
margin-top: 80px;
}

.sponsors {
width: 1160px;
clear: both;
}

.map {
  margin-top: 80px;
}

.social {
width: 260px;
float: left;
}

.discount {
  width: 680px;
  float: right;
}

/*CATALOG*/

.catalog-title {
  float: left;
  width: 820px;
  background-color: grey;
  clear: both;
}

.catalog-filter {
float: left;
width: 300px;
background-color: pink;
  }

.gallery {
width: 800px;
background-color: lightblue;
font-size: 0;
}

.sort-arrows {
  float: right;
}

.gallery-item {
  font-size: 16px;
  width: 360px;
  display: inline-block;
  vertical-align: top;
}

.catalog-gallery {
  float: right;
}

.page-navigation {
background-color: yellow;
}
